@using BudgetTracker.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

@{
    User? currentUser = @UserManager.GetUserAsync(User).Result;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Budget Tracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BudgetTracker.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom border-body box-shadow mb-3" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-controller="Home" asp-action="Index">BudgetTracker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    
                    <ul class="navbar-nav dropdown flex-grow-1">
                        <a class="nav-link text-light dropdown-toggle" role="button" data-bs-toggle="dropdown">Links</a>
                        
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" asp-controller="Categories" asp-action="Index">Categories</a></li>
                            <li><a class="dropdown-item" asp-controller="Transactions" asp-action="Index">Transactions</a></li>
                        </ul>
                    </ul>

                    <ul class="navbar-nav flex-grow-2">
                        @if (SignInManager.IsSignedIn(User)) {
                            <li class="navbar-nav">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Index" asp-route-username="@currentUser?.UserName">
                                    <div class="d-sm-flex flex-row">
                                        <img src="@Globals.GetUserPic(@currentUser?.ImageURI!)" class="user-pic-sm">
                                        <div class="px-2 align-self-center text-light">@currentUser?.FullName</div>
                                    </div>
                                </a>
                            </li>
                            <form asp-controller="Account" asp-action="Logout" method="post" class="nav-item">
                                <button type="submit" class="btn navbar-btn navbar-link text-light">Log Out</button>
                            </form>
                        } 
                        else 
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Account" asp-action="Register">Sign Up</a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="px-3" style="background-color: #fff;">
            &copy; 2024 - BudgetTracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
